<div class="ui search" [ngClass]="{ loading: isLoading }">
  <div class="ui icon input">
    <input (keyup)="keyup.emit(searchTerm.value)" #searchTerm class="prompt"
           type="text" placeholder="Suche nach einer Liste...">
    <i class="search icon"></i>
  </div>
  <div class="results transition" [ngClass]="{ visible: foundLists.length}">


    @for (kwmlist of foundLists; track kwmlist){
      <a href (click)="listSelected.emit(kwmlist); false" class="result">
        <div class="content">
          <div class="title" >{{ kwmlist.name }}</div>
        </div>
      </a>
    }
  </div>
</div>
